.carousel-item img{
    opacity: 0.3;
}

.carousel caption{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.carousel-caption h1{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-shadow: 0.1em 0.1em #333;
}

.background {
    padding: 40px 40px;
    background:#fffff0;
    margin-bottom: 80px;
    margin-top: 80px;
}



.carousel-caption p{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: #333;
}

.title h2{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;

}

footer{
    margin-top: 30px;
    background-color: #CAD9A2;

}

footer p{
    margin-top: 10px;
}

