@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');


.selectbackground {
    font-family: 'Noto Sans TC', sans-serif;
    color: #403F3D;
    width: 100%;
    height: 100px;
    background: linear-gradient(9deg, rgb(242, 204, 181), rgb(240, 246, 224));
    box-shadow: 5px 5px 10px rgba(64, 63, 61, 0.3);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin: -10px auto 25px 0px;
}

select {
    padding: 1px 6px;
    border: 1px none #ced4da;
    border-radius: 3px;
    margin-right: 50px;
    background: #F2F2F2;
    box-shadow: 5px 5px 10px rgba(64, 63, 61, 0.2);
    font-size: 14px;
    letter-spacing: 2px;
}

/* 動態新增那一塊 */
.showInfoBk {
    width: 100%;
    margin: -10px auto 50px auto;


}

.imgCard {
    width: 220px;
    height: 280px;
    position: relative;
    margin: 40px auto;
}

.imgCard img {
    width: 100%;
    max-height: 100%;
    display: block;
}

figcaption {
    font-size: 10px;

    font-weight: 500;
    background-color: #818274;
    ;
    color: #fcfdfd;
    padding: 3px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 5px 4px 1px rgba(64, 63, 61, 0.6);

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    /* background-color: #403F3D; */
    backdrop-filter: blur(150px);
}

/* 調整成1以下可以看得到背景圖 */
.imgCard:hover .overlay {
    opacity: 0.9;
}

/* hover後的文字 */
.text p {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    letter-spacing: 1px;
    width: 200px;
    height: 260px;
}

/* 購票連結 */
.showInfoBk a {
    text-decoration: none;
}


/* 中間搜尋區塊 */
.selectbackground label {
    margin-right: 2px;
    margin-left: 2px;
    letter-spacing: 2px;

}

.fi-sr-list {
    font-size: 1.2rem;
    position: relative;
    bottom: -3.5px;

}

.btn-outline-dark {
    color: #403F3D;
    font-weight: 500;
    padding: 5px 15px;
    border: none;
    border-radius: 2px;
    border: 0.1rem solid rgba(52, 58, 64, 0.1);
    letter-spacing: 3px;
    box-shadow: 5px 5px 10px rgba(64, 63, 61, 0.3);


    position: relative;
    transition: all .5s linear;
}

.btn-outline-dark:hover{
    color: #403F3D;
    background-color: transparent;
    border: transparent;
}
.btn-outline-dark:focus{
    box-shadow: 0 0 0 0.1rem rgba(52, 58, 64, 0.1);
}
  
.btn-outline-dark span {
    position: relative;
    z-index: 1;
}

.btn-outline-dark::before {
    content: "";
    width: 0%;
    height: 100%;
    display: block;
    background: linear-gradient(-47deg, rgb(202, 217, 162), rgb(242, 204, 181));
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .6s ease;
}
.btn-outline-dark:hover::before{
    width: 100%;
}