



.selectbackground {
    font-family: 'Noto Sans TC', sans-serif;
    color: #403F3D;
    width: 80%;
    height: 100px;
    background-color: #fcfdfd;
    box-shadow: 1px 1px 10px #403F3D;
    border-radius: 15px;
    justify-content: space-evenly;
    align-items: center;
    margin: -10px auto 25px 0px;
}

select {
    padding: 6px 4px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
/* 動態新增那一塊 */
.showInfoBk {
    width: 100%;
    margin: -10px auto 50px auto;

}

.imgCard {
    width: 220px;
    height: 280px;
    position: relative;
    margin: 40px auto;
}

.imgCard img {
    width: 100%;
    max-height: 100%;
    display: block;
}

figcaption {
    font-size: 10px;
    
    font-weight: 500;
    background-color: #818274;;
    color: #fcfdfd;
    padding: 3px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 5px 4px 1px rgba(64, 63, 61, 0.6);
    
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    /* background-color: #403F3D; */
    backdrop-filter: blur(150px);
}
/* 調整成1以下可以看得到背景圖 */
.imgCard:hover .overlay {
    opacity: 0.9;
}
/* hover後的文字 */
.text p {
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    letter-spacing: 1px;
    width: 200px;
    height: 260px;
}
/* 購票連結 */
.showInfoBk a{
    text-decoration: none;
}


.selectbackground label{
    margin-right: 10px;
    letter-spacing: 2px;
}