@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
body{
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
    color: #403F3D;
    background-color: #fcfdfd;
}
.fi-rr-caret-down{
    font-size: 18px;
}

button:focus {
    outline: 0px ;
    outline: 0px auto -webkit-focus-ring-color;
}


.btnClick {
    border-radius: 5px;
    border: 0px;
    background: linear-gradient(9deg, rgb(242, 204, 181), rgb(240, 246, 224));
    box-shadow: 1px 1px 5px #403F3D;

    font-size: 17px;
    font-weight: 300;

    position: relative;
    right: -205px;
    bottom: -10px;
    padding: 10px;

    letter-spacing: 2px;
    cursor: pointer;
}
.btnClick:hover {
    transform: scale(1.1);
}

.background input {

    font-weight: 300;
    height: 30px;
    padding: 5px 10px;
    background-color: rgba(64, 63, 61, 0.3);
    /* box-shadow: 1px 1px 5px #403F3D; */
    border: none;
    border-radius: 5px;
}
.background input:focus{
   outline: none;
   font-weight: 700;
}
::placeholder{
    font-size: 13px;
	color: #97A6A2;
	/* text-align: center; */
}

label {
    margin-right: 20px;
    margin-top:10px;
    font-weight: 300;
    letter-spacing: 1.5px;
}

label.email {
    margin-right: 7px;
}


.background span{
    position: relative;
    right: 5px;
    font-weight: 300;
}
input[type="radio"]{
    margin-right: 10px;
    position: relative;
    top:10px
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
   
    width: 30%;
    background: #fffff0;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #403F3D;

    margin-right: 250px;
}

